
/.smart-connections
/.trash
/.tmp.driveupload
.obsidian/plugins/smart-connections/data.json




# Ignore Smart Connections folder
.smart-connections
.obsidian/plugins/make-md/data.json
.obsidian/plugins/make-md/Spaces.mdb
.obsidian/plugins/make-md/data.json
.obsidian/workspace.json




# Ignore Smart Connections folder
.smart-connections
.obsidian/community-plugins.json
.obsidian/plugins/make-md/Spaces.mdb
.makemd/fileCache.mdc
.makemd/superstate.mdc
.obsidian/workspace.json
.obsidian/plugins/make-md/data.json




# Ignore Smart Connections folder
.smart-connections



# Ignore Smart Connections folder
.smart-connections